@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ovo&display=swap");
:root {
  --white: #ffffff;
  --black: #000000;
}

img {
  max-width: 10%;
}
 

body {
  font-family: Ovo, Nunito Sans;
  margin: 0;
  text-align: center;a
}
header {
  color: var(--white);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-flow: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -.25rem;
  margin-botton: -.5rem;
}
nav a {
  text-decoration: none;
  color: var(--white);
}
nav a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.button {
  border: solid 0.5rem var(--black);
  padding: 8rem;
  padding-top: 20rem;
  padding-bottom: 20rem;
  color: var(--white);
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem;
}
.button:hover {
  border: solid 0.5rem var(--white);
  color: var(--black);
}
.parent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.child {
  font-size: 2rem;
  text-transform: uppercase;
}

footer {
  color: var(--white);
  text-align: center;
}

footer a {
  color: var(--white);
}

@media (min-width: 700px) {
  header {
    justify-content: space-between;
    align-content: cetner;
    padding: 2rem;
  }
}
