@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ovo&display=swap");
:root {
  --white: #ffffff;
  --black: #000000;
}

img {
  max-width: 10%;
}

body {
  font-family: Ovo, Nunito Sans;
  margin: 0;
  text-align: center;
}

header {
  color: var(--white);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-flow: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -0.25rem;
  font-size: 1.5rem;
}
nav a {
  text-decoration: none;
  color: var(--white);
}
nav a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
#activity-display {
  font-size: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: solid 0.5rem var(--white);
  background-color: rgb(255, 255, 255, 0.5);
  padding: 8rem;
  padding-top: 20rem;
  padding-bottom: 20rem;
  color: var(--white);
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem;
  cursor: pointer;
}
#random-activity-btn {
  background-color: transparent;
  color: var(--white);
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.3s ease;
  text-size-adjust: 2rem;
}

#random-activity-btn:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

footer {
  color: var(--white);
  text-align: center;
}

footer a {
  color: var(--white);
}

@media (min-width: 700px) {
  header {
    justify-content: space-between;
    align-content: center;
    padding: 2rem;
  }
}
